@media only screen and (min-width:1920px){

    .introContianer{
        height: 85vh;
    }

    #tFix3{
        top: -72.5vh;
    }

    #tFix4{
        top: -26vh;
    }

    #tFix5{
        top: -14vh;
    }

    .redLineText{
        margin-top: 9vh;
    }

    .redLine img{
        width: 41.138889vw;
    }

    #B1{
        margin-left: 13vw;
    }

    #B2{
        margin-left: 34.5vw;
    }
}
