.parallax-window{
    min-height: 400px;
    background: transparent;
    height: 400px;
    width: 300px;
    left: 50%;
}

.imgWindow1{
    width: 37.951vw;
    height: 95.853vh;
    overflow: hidden;
    /* top: -72vh; */
}

.fix1{
    width: 45.138vw;
    position: relative;
    /* top: -2.43902vh; */
}

.testy p{
    font-size: calc(100vw/2.2222222222222);
}

.sideMenu{
    display: none;
}
.nav_secondLeft{
    position: absolute;
    width: 200px;
    height: 200px;
    display: table-column;
}

#web:hover ~ #nav_secondLeft{
    font-size: 200px;
}